* {
  margin: 0;
}

.root {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divider {
  width: 95%;
  max-width: 450px;
  height: 2px;
  background-color: bisque;
  margin: 15px 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: calc(10px + 1vmin);
  background: rgb(146, 90, 90);
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-position: center;
  transition: background 0.5s;
}

button:hover {
  background: rgb(146, 90, 90) radial-gradient(circle, transparent 1%, rgb(87, 56, 56) 1%) center/15000%;
}

button:active {
  background-color: rgb(146, 90, 90);
  background-size: 100%;
  transition: background 0s;
}
